# Pokemon
### Step 1. Import the necessary libraries

In [5]:
import pandas as pd 
import numpy as np

### Step 2. Create a data dictionary that looks like the DataFrame below

In [7]:
raw_data = {'evolution' : ['lvysaur', 'Charmeleon', 'Wartortle', 'Metapod'], 
            'hp' : [45, 39, 44, 45], 
            'name' : ['Bulbasaur', 'Charmander', 'Squirtle', 'Carterple'], 
            'pokedex' : ['yes', 'no', 'yes', 'no'], 
            'type' : ['grass', 'fire', 'water', 'bug']}

    evolution  hp        name pokedex   type
0     lvysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45   Carterple      no    bug

### Step 3. Assign it to a variable called pokemon

In [8]:
pokemon = pd.DataFrame(raw_data)
pokemon

    evolution  hp        name pokedex   type
0     lvysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45   Carterple      no    bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place the order of the columns as name, type, hp, evolution, pokedex

In [10]:
pokemon = pokemon[['name', 'type', 'hp', 'evolution', 'pokedex']]
pokemon

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     lvysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3   Carterple    bug  45     Metapod      no

### Step 5. Add another column called place, and insert what you have in mind.

In [12]:
pokemon['place'] = ['hospital', 'school', 'resturant', 'road']
pokemon

         name   type  hp   evolution pokedex      place
0   Bulbasaur  grass  45     lvysaur     yes   hospital
1  Charmander   fire  39  Charmeleon      no     school
2    Squirtle  water  44   Wartortle     yes  resturant
3   Carterple    bug  45     Metapod      no       road

### Step 6. Present the type of each column

In [16]:
pokemon.info()

pokemon.dtypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       4 non-null      object
 1   type       4 non-null      object
 2   hp         4 non-null      int64
 3   evolution  4 non-null      object
 4   pokedex    4 non-null      object
 5   place      4 non-null      object
dtypes: int64(1), object(5)
memory usage: 320.0+ bytes

name         object
type         object
hp            int64
evolution    object
pokedex      object
place        object
dtype: object